"${__BUILD__BUILD_RC:-false}" && return 0
readonly __BUILD__BUILD_RC=true

_build_info_file="${PWD}/build_info.json"
PROJECT_DIR="${PWD}"
SRCDIR="${PROJECT_DIR}/src"
OUTDIR="${PROJECT_DIR}/out"
EXEC_BASEDIR="${OUTDIR}/main/scripts"
DOCDIR="${PROJECT_DIR}/out/doc"
DOCSRCDIR="${PROJECT_DIR}/out/site/adoc"
LIBDIR="${OUTDIR}/lib"
TESTDIR="${OUTDIR}/test/scripts/lv1"
TESTREPORTDIR="${OUTDIR}/testreport"
LATEST_RELEASED_VERSION="$(printf "v%s.%s" "$(jq -r -c '.version.latestReleased.major' "${_build_info_file}")" \
  "$(jq -r -c '.version.latestReleased.minor' "${_build_info_file}")")"
TARGET_VERSION="$(printf "v%s.%s" "$(jq -r -c '.version.target.major' "${_build_info_file}")" \
  "$(jq -r -c '.version.target.minor' "${_build_info_file}")")"
PROJECT_NAME="$(jq -r -c '.projectName' "${_build_info_file}")"
HOMEPAGE="$(jq -r -c '.homepage' "${_build_info_file}")"

DOCKER_USER_NAME="$(jq -r -c -M '.docker.user' "${_build_info_file}")"
DOCKER_REPO_NAME="${DOCKER_USER_NAME}/${PROJECT_NAME}"
DOCKER_INCONTAINER_ROOT="$(jq -crM '.docker.inContainerRoot' "${_build_info_file}")"
export LATEST_RELEASED_VERSION
export TARGET_VERSION
export PROJECT_NAME
export HOMEPAGE
export PROJECT_DIR
export SRCDIR
export OUTDIR
export EXEC_BASEDIR
export DOCDIR
export DOCSRCDIR
export LIBDIR
export TESTDIR
export TESTREPORTDIR
export DOCKER_REPO_NAME
export DOCKER_INCONTAINER_ROOT
