"${__BUILD__BUILD_RC:-false}" && return 0
readonly __BUILD__BUILD_RC=true

_build_info_file="${PWD}/build_info.json"
PROJECT_BASEDIR="${PWD}"
SRCDIR="${PROJECT_BASEDIR}/src"
OUTDIR="${PROJECT_BASEDIR}/out"
EXEC_BASEDIR="${OUTDIR}/main/scripts"
DOCDIR="${PROJECT_BASEDIR}/out/doc"
DOCSRCDIR="${PROJECT_BASEDIR}/out/site/adoc"
LIBDIR="${OUTDIR}/lib"
TESTDIR="${OUTDIR}/test/scripts/lv1"
LATEST_RELEASED_VERSION="$(printf "v%s.%s" "$(jq -r -c '.version.latestReleased.major' "${_build_info_file}")" \
  "$(jq -r -c '.version.latestReleased.minor' "${_build_info_file}")")"
TARGET_VERSION="$(printf "v%s.%s" "$(jq -r -c '.version.target.major' "${_build_info_file}")" \
  "$(jq -r -c '.version.target.minor' "${_build_info_file}")")"
PROJECT_NAME="$(jq -r -c '.projectName' "${_build_info_file}")"
HOMEPAGE="$(jq -r -c '.homepage' "${_build_info_file}")"

DOCKER_USER_NAME="$(jq -r -c -M '.docker.user' "${_build_info_file}")"
DOCKER_REPO_NAME="${DOCKER_USER_NAME}/${PROJECT_NAME}"
BUILD_HOSTFSROOT_MOUNTPOINT="$(jq -crM '.docker.hostFsRootMountPoint' "${_build_info_file}")"
export LATEST_RELEASED_VERSION
export TARGET_VERSION
export PROJECT_NAME
export PROJECT_BASEDIR
export HOMEPAGE
export SRCDIR
export OUTDIR
export EXEC_BASEDIR
export DOCDIR
export DOCSRCDIR
export LIBDIR
export TESTDIR
export DOCKER_REPO_NAME
export BUILD_HOSTFSROOT_MOUNTPOINT
