source "$(dirname "$(dirname "${BASH_SOURCE[0]}")")/lib/stage_handler_dispatcher.rc"

#build-release
function handle_source() {
  abort "'build' stage is not supported for 'source'. You must specify 'snapshot' or 'release'"
}

#build-snapshot
function handle_snapshot() {
  source "$(dirname "$(dirname "${BASH_SOURCE[0]}")")/lib/docker.rc"
  build_docker_image "${TARGET_VERSION}-snapshot" || abort "BUILD FAILED"
}

#build-release
function handle_release() {
  source "$(dirname "$(dirname "${BASH_SOURCE[0]}")")/lib/docker.rc"
  build_docker_image "${TARGET_VERSION}"  || abort "BUILD FAILED"
  build_docker_image "latest" || abort "BUILD FAILED"
}
