function execute_stage() {
  message "Preprocess '.x' files: '${SRCDIR}'"
  local _basedir="buildtools/resources/generate-src"
  local _each
  while read _each; do
    local _dest="${_each%.x}"
    _dest="${_dest#${_basedir}/}"
    echo -n "Preprocessing: <${_each}>: <_dest: '${_dest}'>" >&2
    mkdir -p "$(dirname "${_each}")"
    bash -eu -E "${_each}" "${_basedir}" >"${_dest}"
    if [[ $? != 0 ]]; then
      abort "FAILED TO PROCESS: '${_each}'"
    fi
    echo "...done" >&2
  done < <(find "${_basedir}" -type f -name '*.x')

  message "Done.'${SRCDIR}'"
}
