function execute_stage() {
  message "Preprocess '.x' files: '${SRCDIR}'"
  local _basedir="buildtools/resources/generate-src"
  local _each
  while read _each; do
    local _dest="${_each%.x}"
    _dest="$(echo ${_dest}|sed -E 's/(.*\/)[0-9]+\.([^/]+)$/\1\2/')"
    _dest="${_dest#${_basedir}/}"
    echo -n "Preprocessing: <${_each}>: <_dest: '${_dest}'>" >&2
    mkdir -p "$(dirname "${_each}")"
    bash -eu -E "${_each}" "${_basedir}" >"${_dest}"
    if [[ $? != 0 ]]; then
      abort "FAILED TO PROCESS: '${_each}'"
    fi
    echo "...done" >&2
  done < <(find "${_basedir}" -type f,l -name '*.x' -exec  sh -c 'echo "${0##*/}" "${0}"' {} \; | sort -k 1 | cut -f 2 -d ' ')

  message "Done.'${SRCDIR}'"
}
