source "$(dirname "$(dirname "${BASH_SOURCE[0]}")")/lib/stage_handler_dispatcher.rc"

#build-release
function handle_source() {
  abort "'push' stage is not supported for 'source'. You must specify 'snapshot' or 'release'"
}

#build-snapshot
function handle_snapshot() {
  docker login
  __push_image "${DOCKER_REPO_NAME}:${TARGET_VERSION}-snapshot"
}

#build-release
function handle_release() {
  docker login
  __push_image "${DOCKER_REPO_NAME}:${TARGET_VERSION}"
  __push_image "${DOCKER_REPO_NAME}:latest"
}

function __push_image() {
  local _image_name="${1}"
  message "pushing image: ${_image_name}"
  docker push "${_image_name}"
  message "pushed image: ${_image_name}"
}