function execute_stage() {
  local _release_branch
  local tmp
  _release_branch="$(jq -crM '.release.branch' ./build_info.json)"
  git tag "${TARGET_VERSION}"
  git push origin "${TARGET_VERSION}"
  tmp=$(mktemp)
  jq '.|.version.latestReleased.minor=.version.target.minor|.version.target.minor=.version.target.minor+1' build_info.json >"${tmp}" || abort "Failed to bump up the version."
  cp "${tmp}" build_info.json
  message "Updated build_info.json"
  source build_info.sh
  message "Reloaded build_info.sh"
  message "Synchronize documentation"
  execute_prepare
  execute_doc
  message "Documenatation was synchronized"
  git commit -a -m "$(printf "Bump up target version to v%s.%s" \
    "$(jq '.version.target.major' "${tmp}")" \
    "$(jq '.version.target.minor' "${tmp}")")" || abort "Failed to commit bumped up version."
  message "Committed the change"
  git push origin "${_release_branch}:${_release_branch}" || abort "Failed to push the change."
  message "Pushed it to the remote"
}
