"${__BUD__ENVVARS_RC:-false}" && return 0
readonly __BUD__ENVVARS_RC=true

####
# A value to specify the parameter is absent in a request.
# This variable is useful for a non-mandatory parameter.
BUD_VOID="BUD_VOID:$(echo -n BUD_VOID | md5sum | cut -d ' ' -f 1)"

####
# {PROJECT_ROOT_DIRECTORY}/  _ BUD_HOME
BUD_HOME="$(dirname "$(dirname "${BASH_SOURCE[0]}")")"

####
# The name of the application that sourced this file.
# This environment variable is used when a temporary file (fifo) is created by functions in io.rc.
BUD_APPCLASS_NAME="${BUD_APPCLASS_NAME:-$(basename "$(pwd)")}"
BUD_APPCLASS_NAME="${BUD_APPCLASS_NAME%.*}"

export BUD_VOID
export BUD_HOME
export BUD_ERROR="${BUD_ERROR:-enabled}"
export BUD_INFO="${BUD_INFO:-enabled}"
export BUD_DEBUG="${BUD_DEBUG:-disabled}"
export BUD_LOG_FILE=${BUD_LOG_FILE:-""}
