"${__BUD__ENVVARS_RC:-false}" && return 0
readonly __BUD__ENVVARS_RC=true

####
# A value to specify the parameter is absent in a request.
# This variable is useful for a non-mandatory parameter.
BUD_VOID="BUD_VOID:$(echo -n BUD_VOID | md5sum | cut -d ' ' -f 1)"

####
# {PROJECT_ROOT_DIRECTORY}/  _ BUD_HOME
#   lib/                     - BUD_LIB
BUD_HOME="$(dirname "$(dirname "${BASH_SOURCE[0]}")")"
BUD_LIB="${BUD_HOME}/lib"

####
# The name of the application that sourced this file.
BUD_APP_NAME="${BUD_APP_NAME:-$(basename "$(pwd)")}"
BUD_APP_NAME="${BUD_APP_NAME%.*}"

BUD_APP_HOME=${BUD_APP_HOME:-"$(pwd)"}
BUD_TEST_SRCDIR=${BUD_TEST_SRCDIR:-${BUD_APP_HOME}/src/test/scripts}
BUD_TEST_BASEDIR="${BUD_TEST_BASEDIR:-${BUD_TEST_SRCDIR}}"
BUD_TEST_REPORTDIR=${BUD_TEST_REPORTDIR:-${BUD_APP_HOME}/target/classes}

export BUD_VOID
export BUD_LIB
export BUD_HOME
export BUD_ERROR="${BUD_ERROR:-enabled}"
export BUD_INFO="${BUD_INFO:-enabled}"
export BUD_DEBUG="${BUD_DEBUG:-disabled}"
export BUD_LOG_FILE=${BUD_LOG_FILE:-""}
export BUD_APP_NAME
export BUD_TEST_SRCDIR
export BUD_TEST_BASEDIR
export BUD_TEST_REPORTDIR