"${__COMMANDUNIT__MAIN_RC:-false}" && return 0
readonly __COMMANDUNIT__MAIN_RC=true
set -eu -o pipefail -o errtrace
shopt -s inherit_errexit nullglob compat"${BASH_COMPAT=42}"

function define_plugin_functions() {
  function format_log_record() {
    local _line="${1:-???}" _function="${2:-unknown}" _file="${3:-unknown file}"
    _file="${_file/${OUTDIR:-""}/${SRCDIR:-""}}"
    _file="${_file#${PWD}/}"
    printf "%8s: %-80s" "${BASHPID}" "${_file}:${_line} (${_function})"
  }

  function included_tests() {
    echo '(test-.+|.*-test|test)'
  }
}
if [[ -e "${COMMANDUNIT_CONFDIR}/config.rc" ]]; then
  source "${COMMANDUNIT_CONFDIR}/config.rc"
fi
BUD_HOME="${BUD_HOME:-$(dirname "$(dirname "${BASH_SOURCE[0]}")")/dependencies/bud}"
APP_HOME="${APP_HOME:-$(dirname "$(dirname "${BASH_SOURCE[0]}")")}"
APP_NAME="${APP_NAME:-${PROJECT_NAME:?Project name is not specified.}}"
BUD_APP_NAME="${APP_NAME}"

export BUD_HOME
export APP_HOME
export APP_NAME
export BUD_APP_NAME
source "${BUD_HOME}/lib/bud.rc"

define_plugin_functions
