"${__COMMANDUNIT__MAIN_RC:-false}" && return 0
readonly __COMMANDUNIT__MAIN_RC=true
set -eu -o pipefail -o errtrace
shopt -s inherit_errexit nullglob compat"${BASH_COMPAT=42}"

function define_plugin_functions() {
  function format_log_record() {
    local _line="${1:-???}" _function="${2:-unknown}" _file="${3:-unknown file}"
    _file="${_file/${OUTDIR:-""}/${SRCDIR:-""}}"
    _file="${_file#${PWD}/}"
    printf "%8s: %-80s" "${BASHPID}" "${_file}:${_line} (${_function})"
  }

  function included_tests() {
    echo '(test-.+|.*-test|test)'
  }
}

PROJECT_NAME="${PROJECT_NAME:-unknown}"
BUD_HOME="${BUD_HOME:-$(dirname "$(dirname "${BASH_SOURCE[0]}")")/dependencies/bud}"
APP_HOME="${APP_HOME:-$(dirname "$(dirname "${BASH_SOURCE[0]}")")}"
BUD_APP_NAME="${PROJECT_NAME}"
COMMANDUNIT_DOCKERDIR_PREFIX="${COMMANDUNIT_DOCKERDIR_PREFIX:-""}"

export BUD_HOME
export APP_HOME
export BUD_APP_NAME
source "${BUD_HOME}/lib/bud.rc"

define_plugin_functions
