"${__BUILDTOOLS__DOCKER_RC:-false}" && return 0
readonly __BUILDTOOLS__DOCKER_RC=true

function build_docker_image() {
  local _version="${1}"
  local _image_name="${DOCKER_REPO_NAME}:${_version}"
  message "Building docker image: '${_image_name}'"
  docker build --build-arg VERSION="${_version}" -t "${_image_name}" .
}

function run_command_unit_with_source() {
  __run_command_unit_with_source "${@}"
}

function run_command_unit_with_snapshot_docker_image() {
  __run_command_unit_with_docker "-snapshot" "${@}"
}

function run_command_unit_with_released_docker_image() {
  __run_command_unit_with_docker "" "${@}"
}

function run_command_unit_with_snapshot_docker_image_from_entrypoint() {
  local _entrypoint="${1}"
  shift
  __run_command_unit_with_docker_from_entrypoint "${_entrypoint}" "-snapshot" "${@}"
}

function run_command_unit_with_released_docker_image_from_entrypoint() {
  local _entrypoint="${1}"
  shift
  __run_command_unit_with_docker_from_entrypoint "${_entrypoint}" "" "${@}"
}

function __run_command_unit_with_source() {
  local _executable="${EXEC_BASEDIR}/bin/commandunit"
  message "Running commandunit(source): '${_executable}'"
  "${_executable}" "${@}"
}

function __run_command_unit_with_docker() {
  local _suffix="${1}"
  shift
  local _me
  local _image_name="${DOCKER_REPO_NAME}:${TARGET_VERSION}${_suffix}"
  local _commandunit_root_in_docker_container="/var/lib/commandunit"
  _me="$(whoami)"
  message "Running commandunit(docker): '${_image_name}'"
  docker run \
    --user="$(id -u "${_me}"):$(id -g "${_me}")" \
    --env PROJECT_NAME="commandunit" \
    --env OUTDIR="${_commandunit_root_in_docker_container}${OUTDIR}" \
    -v "$(pwd):${_commandunit_root_in_docker_container}$(pwd)" \
    -i "${_image_name}" \
    "${@}"
}

function __run_command_unit_with_docker_from_entrypoint() {
  local _entrypoint="${1}" _suffix="${2}"
  shift 2
  local _me
  local _image_name="${DOCKER_REPO_NAME}:${TARGET_VERSION}${_suffix}"
  local _commandunit_root_in_docker_container="/var/lib/commandunit"
  _me="$(whoami)"
  message "Running commandunit(docker): '${_image_name}'"
  docker run \
    --user="$(id -u "${_me}"):$(id -g "${_me}")" \
    --env PROJECT_NAME="commandunit" \
    --env OUTDIR="${_commandunit_root_in_docker_container}${OUTDIR}" \
    -v "$(pwd):${_commandunit_root_in_docker_container}$(pwd)" \
    --entrypoint="${_entrypoint}" \
    -i "${_image_name}" \
    "${@}"
}
