function commandunit() {
  local _project_basedir="${PWD}"
  local _hostfsroot_mountpoint="/var/lib/commandunit"
  local _docker_repo_name="dakusui/commandunit"
  local _image_version="v1.15"
  local _suffix=""
  local _entrypoint=""
  local _loglevel="${COMMANDUNIT_LOGLEVEL:-ERROR}"
  local _me _image_name _args _show_image_name=false _i _s _quit=false
  _me="${USER}"
  _args=()
  _s=to_func
  for _i in "${@}"; do
    if [[ "${_s}" == to_func ]]; then
        if [[ $_i == "--snapshot" ]]; then
          _image_version="v1.16"
          _suffix="-snapshot"
        elif [[ $_i == "--debug" ]]; then
          _entrypoint="--entrypoint=/bin/bash"
        elif [[ $_i == "--show-image-name" ]]; then
          _show_image_name=true
        elif [[ $_i == "--quit" ]]; then
          _quit=true
        elif [[ $_i == "--" ]]; then
          _s=to_container
        else
          _args+=("${_i}")
        fi
    else
      _args+=("${_i}")
    fi
  done
  _image_name="${_docker_repo_name}:${_image_version}${_suffix}"
  if ${_show_image_name}; then
    echo "${_image_name}"
  fi
  ${_quit} && return 0
  # shellcheck disable=SC2086
  docker run \
    --user="$(id -u "${_me}"):$(id -g "${_me}")" \
    --env COMMANDUNIT_PWD="${_project_basedir}" \
    --env COMMANDUNIT_LOGLEVEL="${_loglevel}" \
    -v "${_project_basedir}:${_hostfsroot_mountpoint}${_project_basedir}" \
    ${_entrypoint} \
    -i "${_image_name}" \
    "${_args[@]}"
}
export -f commandunit
